.box{
	width:100%;
	height:500px;
	background-color:#c3c3c3;
}
.box .content{
	width:500px;
	height:300px;	
	background-color:white;
	margin: auto;
	position: relative;
	overflow: hidden;
}
.dong{
	height:100%;
	width:10000px;
	position: absolute;
	left:0;
}
.dong .small{
	width: 500px;
	height:100%;
	font-size:50px;
	text-align:center;
	line-height:300px;
	background-color:blue;
	float: left;
}